body{
    font-family: "Catamaran", sans-serif;
    font-family: "Old Standard TT", serif;
}

.card-img-top{
    width: 60%;
    height: 180px;
    padding: 2%;
}
.table-bordered tr th {
    width: 30%;
 margin-right: 20px;
 text-align: center;
}
.table-bordered tr td {
    width: 50%;
 margin-right: 20px;
 text-align: center;
}

.admin_img{
    border-radius: 50%;
    width: 20%;
    height: 25%;
}
.updateContainer{
    margin: 5% 0%;
}
.modal-md{
    top: 25%;
}
.admin_nav{
    z-index: 99;
    box-shadow: 1px 1px 4px 0px rgb(183 157 157);
    border-bottom: 1px solid rgb(93 84 84 / 30%);
}
.nav-item .nav-link{
    color: rgba(0, 0, 0, 0.815) !important;
}

.header_links li a:hover{
    color:#a90b0c !important;
}