body{
    font-family: "Catamaran", sans-serif;
    font-family: "Old Standard TT", serif;

}

.header{
    height : 80vh;
    width: 100%;
    color: white;
    background: linear-gradient(to right, rgba(34, 57, 187, 0.9), rgba(170, 97, 97, 0.5)),
         url(https://images.pexels.com/photos/1181677/pexels-photo-1181677.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-size: cover;     

}
.h-100{
    height: 100%;
    width: 100%;
}
.btn{
    border-radius: 10rem !important;
    padding: 1rem 2.25rem !important;
}
.message{
    background: linear-gradient( to top , #fad0c4 0% , #ffd1ff 100%);
}
.fa{
    font-size: 5rem;
    padding: 2rem;
}
.conts{

    font-size: 3rem;
}
.ppl-about-us{
    background: linear-gradient( to top , #fad0c4 0% , #ffd1ff 100%);
}
.navbar{
    z-index: 9;
    box-shadow: 1px 1px 4px 0px rgb(183 157 157);
    border-bottom: 1px solid rgb(93 84 84 / 30%);
}
.header_links li a:hover{
    color:#f3690d !important;
}
.card-body:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .header{
       background-position: right;
    }
}
